<%= render 'navbar' %>

<div class="container">

<div class="jumbotron">
<p id="notice"><%= notice %></p>

<center><h1>Students</h1></center>

</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pin</th>
      <th>Email</th>
      <th>Phno</th>
      <th>Address</th>
      <th>Cgpa</th>
      <th>Abacklog</th>
      <th>Placed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.pin %></td>
        <td><%= student.email %></td>
        <td><%= student.phno %></td>
        <td><%= student.address %></td>
        <td><%= student.cgpa %></td>
        <td><%= student.abacklog %></td>
        <td><%= student.placed %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Edit Password', students_editpwd_path(:id => student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
<br><br>
<%= link_to 'Filter Students', filter_students_filter_path %>
</div>
