<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @student.pin %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phno:</strong>
  <%= @student.phno %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Cgpa:</strong>
  <%= @student.cgpa %>
</p>

<p>
  <strong>Abacklog:</strong>
  <%= @student.abacklog %>
</p>

<p>
  <strong>Placed:</strong>
  <%= @student.placed %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
